!!! 5
html
  head
    meta(charset="utf-8")
    script(src="js/jquery.1.8.2.js")
    script(src="js/bootstrap.js")
    script(src="js/d3.v3.min.js")
    script(src="js/underscore-min.js")
    script(src="js/px.min.js")
    script(src="index.js")
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    h3#index-name 隨機挑選指標資料中...
    select#index-chooser: option(value="0") 選擇分類
    select#year-chooser: option(value="0") 選擇年份
    #content
