!!! 5
html
  head
    meta(charset="utf-8")
    script(src="js/jquery.1.8.2.js")
    script(src="js/bootstrap.js")
    script(src="js/d3.v3.min.js")
    script(src="js/underscore-min.js")
    script(src="js/px.min.js")
    script(src="index.js")
  body
    select#index: option 選擇分類
    select#year: option 選擇年份
